.join-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-container h1 {
  margin-bottom: 0px;
}
.join-container h3 {
  margin-top: 10px;
}

.waiting-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waiting-container h1 {
  margin: 0px;
}
.waiting-container h2 {
  margin-top: 20px;
}

.answered-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answered-container h1 {
  margin-bottom: 75px;
}

.game-container{
  /* position: relative; */
  max-height: 100%;
}

.game-answers button {
  width: 300px;
  height: 200px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.buttona1 {
  background-color: #e2468f;
}
.buttona2 {
  background-color: rgb(82, 93, 253);
}
.buttona3 {
  background-color: rgb(65, 182, 65);
}
.buttona4 {
  background-color: rgb(221, 119, 23);
}

#countdowntimer {
  font-size: 25px;
  font-weight: bolder;
}

.question-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.matchup{

}

.game-answers h3 {
  font-size: 30px;
}
