.answers button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  pointer-events: none;
}

.button1 {
  background-color: #e246bb;
}
.buttona2 {
  background-color: rgb(82, 93, 253);
}
.buttona3 {
  background-color: rgb(65, 182, 65);
}
.buttona4 {
  background-color: rgb(221, 119, 23);
}

#countdowntimer {
  font-size: 20px;
  font-weight: bolder;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
